[flake8]
ignore = W503, E501, F405, E128,  F403, F401, E126, F821, F722, E203
exclude =
    fennel/gen/
    fennel/_vendor/
    ./.ipynb_checkpoints/
    .git,
per-file-ignores =
    fennel/**/__init__.py:F401, F403
    fennel/lib/to_proto/test_source_code.py: E127, W291
    docs/examples/*/*.py:E402
extend-select = W504, E821
