[tool.poetry]
name = "fennel-ai"
version = "0.2.2"
description = ""
authors = ["Fennel AI <developers@fennel.ai>"]
packages = [
    { include = "fennel" }
]

[tool.poetry.dependencies]
python = "^3.8"
pandas = "^1.5.0"
cloudpickle = "^2.2.0"
arrow = "^1.2.3"
numpy = "^1.23.3"
requests = "^2.28.1"
grpcio = "^1.49.1"
grpcio-tools = "^1.49.1"
pytest-grpc = "^0.8.0"
pytest-mock = "^3.9.0"
pytest = "^7.1.3"
pydantic = "^1.10.2"
jsondiff = "^2.0.0"
mypy-protobuf = "^3.4.0"
astunparse = "^1.6.3"
build = "^0.9.0"
types-requests = "^2.28.11"
grandalf = "^0.7"
pyarrow = "^10.0.1"
pytest-xdist = "^3.1.0"
pytest-timeout = "^2.1.0"

[tool.poetry.dev-dependencies]
flake8 = "^4.0.1"
black = "^22.6.0"
mypy = "^0.961"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = [
    "fennel/dataset",
    "fennel/lib",
    "fennel/featureset",
    "fennel/sources",
]
markers = [
    "integration: Those tests that can be run using a rust client",
]


[tool.mypy]
python_version = "3.7"
exclude = '''(pb2\.py$|grpc\.py$|_pb2.pyi)'''

[[tool.mypy.overrides]]
module = "pyarrow"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "cloudpickle"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "pandas"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "grpc"
ignore_missing_imports = true


[tool.black]
line-length = 80
extend-exclude = '''
(
    .*_pb2.py
    | .*_pb2_grpc.py
    | fennel/gen/*.py
)
'''